@page
@using NorthwindEntitiesLib;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model NorthwindEmployees.Pages.emplyeesModel

<div class="row">
    <h2 class="display-2">Employees</h2>
</div>

<div class="row">
    @foreach (Employee employees in Model.Employees)
    {
        <div class="col-sm-3">
            <partial name="_Employee" model="employees"/>
        </div>
    }
</div>
